@import '@/styles/media-queries';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include only-mobile {
    flex-direction: column;
    margin-bottom: 20px;
    h3 {
      display: none;
    }
  }
  .tabButton {
    padding: 0.625rem 0.7rem;
  }
}
