@import '@/styles/media-queries';

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include only-mobile {
    flex-direction: column;
    margin-bottom: 20px;
    h3 {
      display: none;
    }
  }

  .tabButton {
    padding: 0.625rem 0.7rem;
  }

  .title {
    color: #122b3d;
    font-family: 'TT Norms Pro';
    font-size: 32px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.32px;
  }

  .buttonList {
    border-bottom: 0.1px solid #515b73;
  }

  .tab1,
  .tab2 {
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.14px;
  }

  .tabActive {
    border-bottom: 3px solid #184bff;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -0.14px;
  }
}
