@import 'media-queries';

.card {
  padding: 24px 20px;
  width: 100%;
  height: 236px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  border-radius: 24px;
  box-shadow: 0px 15px 30px rgba(0, 0, 190, 0.15);
  background-image: url('/assets/img/eSim.png');
  background-repeat: no-repeat;
  background-size: 140px;
  background-position: 90% 25%;
  gap: inherit;

  @include tablet {
    height: auto;
    // width: 33%;
    // height: 322px;
    // background-position: left 140px bottom;
    // background-size: 300px;

    &:hover {
      border-radius: 24px 24px 24px 0;
      box-shadow: 0px 25px 45px rgba(235, 0, 140, 0.2);
    }
  }

  @include desktop-max {
    width: 310px;
    height: 100%;
  }
}

.headerInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include only-mobile {
    margin-top: 30px;
  }
}

.header {
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.24px;

  @include tablet {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.32px;
  }
}

.info {
  font-size: 14px;
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  word-wrap: break-word;
}

.button {
  &__root {
    margin-top: auto;
    height: 48px;
    width: 100%;
    border-radius: 12px;
    background-color: #184bff;
    color: $color-base-0;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    outline: none;

    &:hover {
      background-color: $color-primary-400;
    }
    &:active {
      background-color: #184bff;
    }

    &[data-disabled] {
      background-color: $color-primary-200;
      color: $color-base-500;
    }

    @include tablet {
      width: fit-content;
    }

    @include desktop-max {
      height: 40px;
    }
  }
}
