@import 'global.scss';

@mixin border {
  border: 1px solid lightgray;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $gap-mobile;
  margin-bottom: $gap-mobile;
  width: 100%;
  @include tablet {
    gap: $gap-tablet;
    margin-bottom: $gap-tablet;
  }
  @include desktop-max {
    gap: $gap-desktop;
    margin-bottom: $gap-desktop;
  }
}

.carouselWrapper {
  width: calc(100% + 40px);
  max-height: 272px;

  @include tablet {
    max-height: 209px;
  }

  @include desktop {
    width: 100%;
    max-height: 356px;
  }
}

.tariffs {
  width: 100%;
}

.tariffCard {
  width: 100%;
}

.banners {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  gap: $gap-mobile;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 433px 322px 1fr;
    gap: $gap-tablet $gap-horizontal;
    place-items: stretch stretch;
    grid-template-areas:
      'Replenishment BeautifulNumbers'
      'VolnaSale Esim'
      'HomeInternet HomeInternet';

    &__beautiful_numbers {
      grid-area: BeautifulNumbers;
    }
    &__volna_sale {
      grid-area: VolnaSale;
    }
    &__esim {
      grid-area: Esim;
    }
    &__replenishment {
      grid-area: Replenishment;
    }
    &__home_internet {
      grid-area: HomeInternet;
    }
  }

  @include desktop-max {
    grid-template-columns: 50% auto 310px;
    grid-template-rows: 322px auto;
    grid-template-areas:
      'BeautifulNumbers VolnaSale Esim'
      'Replenishment HomeInternet HomeInternet';
    place-items: stretch stretch;
    gap: $gap-desktop $gap-horizontal;

    &__volna_sale {
      margin-left: -120px;
    }
  }
}

.news {
  width: 100%;
}
