@import '../../styles/media-queries';

@mixin border {
  border: 1px solid lightgray;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 64px;
  margin-bottom: 64px;
  width: 100%;
  @include tablet {
    gap: 48px;
    margin-bottom: 48px;
  }
  @include only-mobile {
    gap: 32px;
    margin-bottom: 32px;
  }
}

.carouselWrapper {
  width: 100%;
  height: 272px;

  @include tablet {
    width: calc(100% + 40px);
    max-height: 209px;
  }

  @include desktop {
    width: 100%;
    max-height: 356px;
  }
}

.tariffs {
  width: 100%;
}

.tariffCard {
  width: 100%;
  height: 100%;
}

.banners {
  //@include border;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include only-mobile {
    flex-direction: column;
    gap: 20px;
  }

  @include desktop {
    height: 322px;
  }
}

.bannerCard {
  width: 33%;
  height: 100%;
}

.replenishmentAndInternet {
  width: 100%;
  display: flex;
  flex-direction: row;

  @include only-mobile {
    flex-direction: column;
  }
}

.news {
  //@include border;
  width: 100%;
  @include only-mobile {
    //border: 5px solid red;
  }

  @include tablet {
    //border: 3px solid blue;
  }

  @include desktop {
    //border: 1px solid green;
  }
}
