@import 'global.scss';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0;

  @include tablet {
    margin-top: 24px;
    margin-bottom: 48px;
    gap: 24px;
  }

  @include desktop-max {
    margin-bottom: 64px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  align-items: end;
  height: 36px;

  &__title {
    @include heading-h3;
    color: $color-base-900;
  }

  @include tablet {
    height: 72px;
    &__title {
      @include heading-h2;
    }
  }
}
