@import '@/styles/variables.scss';
@import '@/styles/media-queries';

.root {
  width: 100%;
  :global(.mantine-Carousel-controls) {
    left: -27px;
    right: -27px;
  }

  :global(.mantine-Carousel-viewport) {
    height: 24.8125rem;
  }
}

.container {
  padding: 15px 0;

  :global(.mantine-Carousel-slide) {
    padding-right: 1.1rem;
  }
}
.indicators {
  bottom: -10px;
}

.phoneIcon {
  margin-left: -5px;
}

.indicator {
  background-color: $color-primary-500;
  flex: 0 0 1%;

  &[data-active='true'] {
    flex: 0 0 3%;
  }

  @include only-mobile {
    flex: 0 0 4%;

    &[data-active='true'] {
      flex: 0 0 12%;
    }
  }
}
