@import 'global.scss';

.wrapper {
  width: 100%;
  max-height: 272px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0;

  @include tablet {
    max-height: 209px;
  }

  @include desktop-max {
    max-height: 414px;
  }

  :global(.mantine-Carousel-controls svg) {
    height: 32px !important;
    width: 32px !important;
  }

  :global(.mantine-Carousel-controls button) {
    opacity: 1;
  }

  :global(.mantine-Carousel-controls) {
    z-index: $z-index-slider-controls;

    &:hover {
      z-index: $z-index-sidebar-controls-hover;
    }

    @include desktop-max {
      left: -30px;
      right: -30px;
    }
  }

  :global(.mantine-Carousel-viewport) {
    max-height: 272px;

    @include tablet {
      max-height: 209px;
    }

    @include desktop-max {
      border-radius: $corner-radius-large;
      max-height: 414px;
    }
  }

  :global(.mantine-Carousel-container) {
    max-height: 272px;

    @include tablet {
      max-height: 209px;
    }

    @include desktop-max {
      border-radius: $corner-radius-large;
      max-height: 414px;
    }
  }
}

.image {
  min-height: 0;
  width: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
