@import 'global.scss';

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0;

  :global(.mantine-Carousel-controls svg) {
    height: 32px !important;
    width: 32px !important;
  }

  :global(.mantine-Carousel-controls button) {
    opacity: 1;
  }

  :global(.mantine-Carousel-controls) {
    z-index: $z-index-slider-controls;

    @include desktop-max {
      left: -30px;
      right: -30px;
    }
  }

  :global(.mantine-Carousel-viewport) {
    @include desktop-max {
      border-radius: $corner-radius-large;
    }
  }
}

.image {
  min-height: 0;
  width: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
