@import 'media-queries';

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 0.5rem;

  @include only-mobile {
    border: 5px solid red;
  }

  @include tablet-sm {
    border: 3px solid blue;
  }

  @include desktop {
    border: 1px solid green;
  }

}

.image {
  min-height: 0;
  width: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
