.wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
}
