$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-sm: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-min: $breakpoint-mobile;
$breakpoint-max: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$primary-900: #111D3B;
$primary-800: #003164;
$primary-700: #004A97;
$primary-600: #0469D2;
$primary-500: #007BFB;
$primary-400: #3395FC;
$primary-300: #66B0FD;
$primary-200: #99CAFD;
$primary-100: #CCE5FE;
$primary-0: #EBF4FF;

$base-900: #282D3C;
$base-800: #414961;
$base-700: #515B73;
$base-600: #788095;
$base-500: #8C94A8;
$base-400: #BCC3D2;
$base-300: #E2E7F3;
$base-200: #ECF0F8;
$base-100: #F4F6FB;
$base-0: #FFFFFF;

$accept-garden: #5CC867;
$error-fire: #ED584E;

$option-dance: #FD770D;
$option-ice: #70D0F4;
$option-lime: #B6D20D;
$option-flower: #4F08E8;
$option-berrie: #E75CA3;
$option-lima: #75B91F;
$option-acai: #92278F;
$option-sun: #F8CC4D;
$option-drow: #2C73B4;
$option-steel: #ADACAC;
$option-crayola: #BCC8E5;