$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-tablet-sm: 1024px;
$breakpoint-desktop: 1200px;
$breakpoint-min: $breakpoint-mobile;
$breakpoint-max: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-primary-900: #111D3B;
$color-primary-800: #003164;
$color-primary-700: #004A97;
$color-primary-600: #0469D2;
$color-primary-500: #007BFB;
$color-primary-400: #3395FC;
$color-primary-300: #66B0FD;
$color-primary-200: #99CAFD;
$color-primary-100: #CCE5FE;
$color-primary-0: #EBF4FF;

$color-base-900: #282D3C;
$color-base-800: #414961;
$color-base-700: #515B73;
$color-base-600: #788095;
$color-base-500: #8C94A8;
$color-base-400: #BCC3D2;
$color-base-300: #E2E7F3;
$color-base-200: #ECF0F8;
$color-base-100: #F4F6FB;
$color-base-0: #FFFFFF;

$color-accept-garden: #5CC867;
$color-error-fire: #ED584E;

$color-option-dance: #FD770D;
$color-option-ice: #70D0F4;
$color-option-lime: #B6D20D;
$color-option-flower: #4F08E8;
$color-option-berrie: #E75CA3;
$color-option-lima: #75B91F;
$color-option-acai: #92278F;
$color-option-sun: #F8CC4D;
$color-option-drow: #2C73B4;
$color-option-steel: #ADACAC;
$color-option-crayola: #BCC8E5;

$color-magenta-0: #EC489E;
$color-magenta-100: #EB008C;
$color-magenta-200: #C20073;

$color-black: #000000;

$header-height-desktop: 84px;
$header-height-mobile: 44px;
