@import 'global.scss';

.root {
  display: flex;
  flex-direction: column;
}

.title {
  color: #282d3c;
  font-family: 'TT Norms Pro';
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.24px;

  @include tablet {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
  }

  @include desktop-max {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
  }

  @include desktop {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
  }
}

.headerNews {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.newsArticle {
  display: flex;
  flex-direction: column;
  max-width: 858px;
  width: 100%;
  margin-top: 32px;
  gap: 32px;

  @include desktop-max {
    gap: 64px;
  }

  @include desktop {
    gap: 64px;
  }
}

.dataTag {
  display: flex;
  align-items: center;
  gap: 12px;

  span {
    color: $color-base-700;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.14px;
  }
}

.backPage {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 32px 0px;
  color: #515b73;
  font-family: 'TT Norms Pro';
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.16px;

  @include tablet {
    display: none;
  }

  @include desktop-max {
    display: none;
  }

  @include desktop {
    display: none;
  }
}

.icons {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.article {
  color: $color-black;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  a {
    color: $color-link;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
}

.pillTag {
  display: flex;
  padding: 6px 12px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #f4f6fb;
  color: $color-primary-900;
  text-align: center;
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
}

.newsContent {
  display: flex;
  flex-direction: column;
  gap: $gap-mobile;
  margin-bottom: $gap-mobile;
  width: 100%;

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include desktop-max {
    display: flex;
    flex-direction: unset;
  }

  @include desktop {
    display: flex;
    flex-direction: unset;
  }
}

.points {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pointsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.pointsTitle {
  color: $color-neutral-gray;
  font-family: 'TT Norms Pro';
  font-size: 32px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: -0.32px;
}

.namePoints {
  display: flex;
  flex-wrap: wrap;
  padding: 16px 16px 24px 16px;
  align-items: flex-start;
  border-radius: 16px;
  background: #fff;
  gap: 20px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);

  @include tablet {
    flex-wrap: nowrap;
    width: 100%;
  }

  @include desktop-max {
    flex-wrap: nowrap;
  }

  @include desktop {
    flex-wrap: nowrap;
  }
}

.tab1,
.tab2 {
  color: $color-black;
  text-align: center;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.14px;
}

.tabActive {
  padding: 10px 16px;
  border-radius: 8px;
  background: $color-link;
  gap: 10px;
  color: $color-primary-0;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.14px;
}
