.root {
  display: flex;
  flex-direction: column;
}

.title {
  color: #282d3c;
  font-family: 'TT Norms Pro';
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.4px;
}

.headerNews {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}

.newsArticle {
  display: flex;
  flex-direction: column;
  max-width: 858px;
  width: 100%;
  margin-top: 32px;
  gap: 20px;
}

.dataTag {
  display: flex;
  align-items: center;
  gap: 12px;

  span {
    color: #515b73;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;

    letter-spacing: -0.14px;
  }
}

.icons {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}



.article {
  color: #000;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  a{
      color:#184BFF;
 font-family: 'Roboto';
font-size: 14px;
font-weight: 700;
line-height: 20px;
  }
}

.pillTag {
  display: flex;
  padding: 6px 12px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 12px;
  background: #f4f6fb;
  color: #282d3c;
  text-align: center;
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
}

.newsContent{
  display: flex;
  align-items: flex-start;
  gap: 24px;
}



.points{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.pointsHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
}




.pointsTitle{
  color:#122B3D;
font-family: 'TT Norms Pro';
font-size: 32px;
font-weight: 600;
line-height: 36px; 
letter-spacing: -0.32px;
}

.namePoints{
  display: flex;
  padding: var(--corner-radii-radius-small, 16px) var(--corner-radii-radius-small, 16px) var(--corner-radii-radius-large, 24px) var(--corner-radii-radius-small, 16px);
  align-items: flex-start;
  gap: 40px;
  border-radius: 16px;
  background:#FFF;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);
}


.search{
  margin-bottom: 32px;
}

.tab1,
.tab2 {
  color:black;
  text-align: center;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 14px; 
  letter-spacing: -0.14px;
}

.tabActive {
  padding: 10px 16px;
  border-radius: 8px;
background:#184BFF;
  gap: 10px;
  color: white;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.14px;
}

