@import 'global.scss';

.wrapper {
  &__root {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
    width: 100%;
  }

  &__label {
    @include label-l5;
    color: $color-base-700;
    margin-bottom: 4px;
  }

  &__error {
    @include label-l5;
    color: $color-error-fire;
  }
}

.input {
  &__wrapper {
    margin: 0;
  }

  &__input {
    @include label-l4;
    height: $gap-tablet;
    padding-left: 24px;
    border-radius: $other-input;
    background-color: $color-base-0;
    border: 1px solid $color-base-300;
    color: $color-base-900;
    outline: none;

    &::placeholder {
      color: $color-base-700;
    }

    &:active,
    &:hover,
    &:focus {
      border-color: $color-base-400;
      outline: none;
    }

    &[data-invalid] {
      border-color: $color-error-fire;
      color: $color-error-fire;
    }
  }

  &__right_section {
    margin: auto 24px;
    height: 20px;
    width: 20px;
  }
}

.closeBtn {
  border: none;
  background: transparent;
  outline: none;
  padding: 0;
  display: inline-flex;
  opacity: 0;
}
.visible {
  opacity: inherit;
}

.dark {
  .wrapper {
    &__label {
      color: $color-base-400;
    }
    &__error {
      color: $color-option-dance;
    }
  }

  .input {
    &__input {
      background-color: transparent;
      border-color: $color-base-200;
      color: $color-base-0;

      &::placeholder {
        color: $color-base-400;
      }

      &:active,
      &:hover,
      &:focus {
        border-color: $color-base-200;
      }

      &[data-invalid] {
        border-color: $color-option-dance;
        color: $color-option-dance;
      }

      &[data-disabled] {
        border-color: $color-base-200;
        background-color: transparent;
        opacity: inherit;

        &::placeholder {
          color: $color-base-400;
        }
      }
    }
  }
}
