@import 'global.scss';

.container {
  display: flex;
  align-items: center;
  height: 40px;

  h4 {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.text {
  color: $color-base-0;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}

.textOption {
  color: $color-base-0;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.numberOption {
  color: $color-base-0;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
}
