.container {
  display: flex;
  align-items: center;
  height: 40px;

  h4 {
    display: flex;
    align-items: center;
    gap: var(--Corner-Small-8, 8px);
  }
}

.text {
  color: var(--base-0-cloud, #fff);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}
.textOption {
  color: fff;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
