@import 'global.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  :global(.mantine-Carousel-controls) {
    left: -30px;
    right: -30px;
    top: calc(50% - 85px);
  }
}

.carouselControl {
  width: 20px;
  height: 20px;
  position: relative;
  top: -20px;
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.cardMoreNews {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f6fb;
  width: 310px;
  height: 356px;
  border-radius: 24px;
  flex-direction: column;
  gap: 20px;

  &:hover {
    background-color: #D0DFFF;
  }

  .cardText {
    align-items: center;
    color: #000;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.16px;
  }

  .chevronRight {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $color-base-0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
