@import 'global.scss';

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(5, 142px);
  gap: $gap-horizontal;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 284px 213px 142px;
    grid-template-areas:
      'popular popular'
      'mobile internet'
      'fast special';
  }

  @include desktop-max {
    grid-template-columns: 310px 420px 530px;
    grid-template-rows: 142px 146px 96px;
    grid-template-areas:
      'fast popular mobile'
      'internet popular mobile'
      'internet popular special';
  }
}

.heading {
  @include heading-h4;
  color: $color-base-0;
  text-align: center;
  transition: all 0.3s ease-in-out;
  margin-top: auto;

  @include desktop-max {
    color: $color-base-900;
    text-align: left;
    transition: all 0.3s ease-in-out;
    margin: 0;
  }
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: $corner-radius-large;
  transition: border-radius 0.3s ease-in-out;
}

.card {
  position: relative;
  border-radius: $corner-radius-large;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  background-blend-mode: overlay;
  background-size: cover;
  cursor: pointer;

  &:active,
  &:hover {
    .heading {
      @include desktop-max {
        z-index: 1;
        color: $color-base-0;
      }
    }
  }

  .image {
    transition: all 0.3s ease-in-out;
  }

  @include desktop-max {
    padding: 16px 20px;
    transition: all 0.3s ease-in-out;

    .heading {
      transition: all 0.3s ease-in-out;
    }

    &:hover,
    &:active {
      border-radius: $corner-radius-large $corner-radius-large $corner-radius-large 0px;
      transition: all 0.3s ease-in-out;

      .image {
        opacity: 1;
        transition: all 0.3s ease-in-out;
        border-radius: 24px 24px 24px 0px;
      }
    }
  }
}

.popular {
  background: rgba(0, 0, 0, 0.3);
  background-image: url('/assets/img/services-banners/popular.png');
  background-position-y: 35%;
  background-size: 110%;

  .image {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      linear-gradient(180deg, rgba(0, 0, 0, 0) 65.09%, rgba(0, 0, 0, 0.3) 100%),
      url('/assets/img/services-banners/popular.png'),
      lightgray -149.267px 0px / 188.019% 109.901% no-repeat;
    background-size: cover;
    background-position: 40%;
  }

  @include tablet {
    grid-area: popular;
    .heading {
      @include heading-h2;
    }
  }

  @include desktop-max {
    border: 1px solid rgba(185, 73, 13, 0.2);
    background: #fbdfd0;

    .heading {
      @include heading-h2;
      &::first-line {
        @include heading-h1;
      }
    }

    &:hover,
    &:active {
      box-shadow: 0px 25px 45px 0px rgba(251, 223, 208, 0.75);
      .heading {
        transform: translateY(140px);
      }
    }
  }
}

.mobile {
  background-image: url('/assets/img/services-banners/mobile.png');
  background-position-y: 30%;

  .image {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      url('/assets/img/services-banners/mobile.png'),
      lightgray 50% / cover no-repeat;
    background-size: cover;
  }

  @include tablet {
    grid-area: mobile;
    .heading {
      @include heading-h3;
    }
  }

  @include desktop-max {
    border: 1px solid rgba(53, 148, 116, 0.3);
    background: #d8ede6;

    .heading {
      @include heading-h2;
      width: 400px;
      &::first-line {
        @include heading-h1;
      }
    }

    &:hover,
    &:active {
      box-shadow: 0px 25px 45px 0px rgba(216, 237, 230, 0.75);
      .heading {
        transform: translateY(88px);
      }
    }
  }
}

.internet {
  background-image: url('/assets/img/services-banners/internet.png');
  background-position-y: 25%;
  background-position-x: 100%;

  .image {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      url('/assets/img/services-banners/internet.png'),
      lightgray 50% / cover no-repeat;
    background-size: cover;
    background-position-x: 65%;
  }

  @include tablet {
    grid-area: internet;
    .heading {
      @include heading-h3;
    }
  }

  @include desktop-max {
    border: 1px solid rgba(6, 123, 217, 0.3);
    background: #cbe4f8;

    .heading {
      @include heading-h2;
    }

    &:hover,
    &:active {
      box-shadow: 0px 25px 45px 0px rgba(203, 228, 248, 0.75);
      .heading {
        transform: translateY(67px);
      }
    }
  }
}

.fast {
  background-image: url('/assets/img/services-banners/fast.png');
  background-position-y: 30%;
  background-size: 110%;

  .image {
    background:
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      url('/assets/img/services-banners/fast.png'),
      lightgray 0px -23.247px / 110.738% 161.188% no-repeat;
    background-size: 110%;
    background-position-y: 25%;
  }

  @include tablet {
    grid-area: fast;
    .heading {
      @include heading-h4;
    }
  }

  @include desktop-max {
    border: 1px solid rgba(231, 92, 163, 0.3);
    background: #fbc9f9;

    .heading {
      @include heading-h3;
    }

    &:hover,
    &:active {
      box-shadow: 0px 25px 45px 0px rgba(251, 201, 249, 0.75);
      .heading {
        transform: translateY(37px);
      }
    }
  }
}

.special {
  background-image: url('/assets/img/services-banners/special.png');
  background-position-y: 30%;
  background-size: 130%;
  background-position-x: 30%;

  .image {
    background:
      url('/assets/img/services-banners/special.png'),
      linear-gradient(93deg, #0235a1 2.11%, #014cb6 33.74%),
      lightgrey 125px -76.489px / 100% 355.767% no-repeat;
    background-size: cover;
    background-position-y: 30%;
  }

  @include tablet {
    grid-area: special;

    .heading {
      @include heading-h4;
    }
  }

  @include desktop-max {
    border: 1px solid rgba(186, 175, 53, 0.2);
    background: #fffbd0;

    &:hover,
    &:active {
      box-shadow: 0px 25px 45px 0px rgba(255, 251, 208, 0.75);

      .heading {
        transform: translateY(18px);
      }
    }
  }
}
