@import 'global.scss';

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 13px;
  @include only-mobile {
    overflow: hidden;
    max-height: 28px;
  }
}

.searchInputWrapper {
  width: 100%;
}
