@import '@/styles/variables.scss';

.title {
  color: $color-base-900;
  font-family: 'TT Norms Pro';
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.date {
  color: $color-base-500;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: -0.14px;
}

.text {
  color: $color-base-800;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.14px;
  margin: 0px;
}
