@import 'global.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  align-items: end;
  height: 36px;

  &__title {
    @include heading-h4;
    color: $color-base-900;
  }

  @include tablet {
    height: 72px;

    &__title {
      @include heading-h2;
    }
  }
}