@import 'media-queries';

.wrapper {
  min-height: 204px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include desktop-max {
    flex-wrap: nowrap;
  }
}

.btn {
  &__root {
    margin-top: auto;
    height: 48px;
    width: 100%;
    border-radius: 12px;
    background-color: $color-link;
    color: $color-base-0;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    outline: none;

    &:hover {
      background-color: $color-primary-400;
    }

    &:active {
      background-color: $color-link;
    }

    &[data-disabled] {
      background-color: $color-primary-200;
      color: $color-base-500;
    }

    @include tablet {
      width: fit-content;
    }

    @include desktop-max {
      height: 40px;
    }
  }
}

.cardKate {
  width: 100%;
  padding: 20px;
  border-radius: 24px;
  height: 204px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('/assets/img/KateKnows.png');
  background-size: cover;
  background-position: center;
  order: 3;

  @include tablet {
    width: 310px;
    flex-basis: 47%;
  }
}

.topRowKate {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleKate {
  display: block;
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 500;
  color: $color-base-0;
  font-size: 24px;
  line-height: 28px;

  @include tablet {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -0.32px;
  }
}

.textKate {
  width: 200px;
  color: $color-base-0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @include desktop-max {
    width: 150px;
  }
}

.btnKate {
  &__root {
    margin-top: auto;
    height: 48px;
    width: 100%;
    border-radius: 12px;
    background-color: $color-base-0;
    color: $color-black;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    outline: none;

    &:hover {
      background-color: $color-base-200;
    }

    &:active {
      background-color: $color-base-300;
    }

    &[data-disabled] {
      background-color: $color-base-200;
      color: $color-base-500;
    }

    @include tablet {
      width: fit-content;
    }

    @include desktop-max {
      height: 40px;
    }
  }
}

.title {
  @include only-mobile {
    display: none;
  }

  @include tablet {
    font-family: 'TT Norms Pro';
    font-style: normal;
    font-size: 32px;
    color: $color-black;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.32px;
  }
}

.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  word-wrap: break-word;
}

.italicsText {
  font-size: 24px;
  font-family: Caveat;
  font-weight: 400;
  line-height: 40px;
  word-wrap: break-word;
}

.questionAnswerCard {
  padding: 20px;
  margin-top: -20px;
  width: calc(100% + 40px);
  height: fit-content;
  gap: 16px;
  border-radius: 0;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $color-base-100;

  @include tablet {
    margin-top: 0;
    width: 310px;
    height: 204px;
    border-radius: 24px;
    flex-basis: 50%;
  }
}

.questionAnswerTop {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.socialBlock {
  margin-right: 4%;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  order: 4;

  @include tablet {
    flex-direction: column;
    margin-right: 0;
    order: 4;
    flex-basis: 30%;
    gap: 6px;
  }

  @include desktop-max {
    order: 3;
  }
}

.socialRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.mobAppCard {
  margin: 0 -20px;
  padding: 20px;
  width: calc(100% + 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  order: 1;
  border-radius: 0;
  background: rgb(32, 3, 183);
  background: linear-gradient(
    90deg,
    rgba(32, 3, 183, 1) 0%,
    rgba(125, 13, 185, 1) 50%,
    rgba(32, 3, 183, 1) 100%
  );
  cursor: pointer;

  @include tablet {
    margin-left: initial;
    width: fit-content;
    grid-template-rows: 48px auto;
    min-width: fit-content;
    height: 204px;
    border-radius: 24px;
    order: 3;
    flex-basis: 65%;
  }

  @include desktop-max {
    order: 4;
  }
}

.mobAppTitle {
  display: block;
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.32px;
  color: $color-base-0;
}

.mobAppMainText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.mobAppTop {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  color: $color-base-0;
}

.label {
  font-size: 16px;
  font-family: 'TT Norms Pro';
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.textWithArrow {
  display: flex;
  gap: 8px;
}

.rightArrow {
  margin-top: -10px;

  @include only-mobile {
    display: none;
  }
}

.mobAppRow {
  width: 100%;
  display: flex;
  justify-content: start;

  @include tablet {
    gap: 8px;
  }
}

.mobAppIcon {
  width: fit-content;

  @include only-mobile {
    display: none;
  }
}

.mobAppIcon2 {
  display: none;

  @include only-mobile {
    display: flex;
  }
}
